body, ul {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.chapter {
    background-color: lightsteelblue;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}

.bg-red {
    background-color: red;
    color: white;
}
.bg-gray {
    background-color: gray;
}
.bg-blue {
    background-color: lightblue;
}